:root {
    --primery-text-color: #757575;
    --title-color: #E5E5E5;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --hero-text-color: #FFFFFF;
    --fon-color: #2F303A;
    --fon-color-button: #f5f4fa;
}

.body {
    background-color: #E5E5E5;
    color: #757575;
}

body {
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}
/* цвет основного текста #212121*/
/* цвет вторичного текста #757575*/
/* белый #FFFFFF */
/* акцент #2196F3*/
/* вторичный цвет фона #2F303A*/

/* Шапка */

.logo {
  font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
color: var(--logo-color);
}

.logo:hover  {
    color: var(--accent-color);
    }

    .web {
        color: var(--accent-color);
      }

    /* site-nav */

.site-nav .link,
.contact-nav .link {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
   color: var(--title-text-color);
}

.site-nav .link:hover,  
.site-nav .link:focus {
    color: var(--accent-color);
 }

 .site-nav .link.carrent {
    color: var(--accent-color);
 }

.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-color);
}

.link {
    text-decoration: none
}

 /* Hero */

.hero {
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--hero-text-color);

}


.hero {
    background-color: var(--fon-color);
     }
 
/* Button */

.button {
    color: var(--hero-text-color);
    background-color: var(--accent-color);
    width: 200px;
    height: 50px;
    left: 694px;
    top: 417px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
}

/* Section priorities*/

.section-priorities {
    color: var(--title-text-color);
}

.priorities-list {
    color: var(--primery-text-color);
}

/* Works */

.section-works {
    color: var(--title-text-color);
}

/* Command */

.section {
    background-color: var(--fon-color-button);
    }

.section {
    color: var(--title-text-color);
    }

.section-title {
    color: var(--primery-text-color);
}    

/* Footer */

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
  }
  
    .web {
        color: var(--accent-color);
      }

      .line {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;
        color: var(--hero-text-color);
      }

     .contact {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;
        color: var(--hero-text-color);
     }

     .fon {
         background-color: var(--fon-color);
             }
    .contact {
        text-decoration: none
            }
    
     /* Portfolio */
 
/* Filter */

.filter .current {
    color: var(--hero-text-color);
    background-color: var(--accent-color);
     }   

.filter-list {
    color: var(--title-text-color);
    background-color: var(--fon-color-button);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
     }
     
 .filter {
    background-color: var(--fon-color-button);
     }

.filter .filter-button:hover,
.filter .filter-button :focus {
    background-color: var(--accent-color);
    }

/* Work */

.list  {
    color: var(--title-text-color);
}

.coment {
    color: var(--primery-text-color);
}