:root {
    --primery-color: #757575;
    --title-color: #E5E5E5;
    --title-text-colors: #212121;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --hero-text-color: #FFFFFF;
    --fon-color: #2F303A;
    --fon-color-button: #f5f4fa;
    --fon-knob: #188ce8; 
}

.body {
    background-color: #E5E5E5;
    color: #757575;
}

body {
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}
/* цвет основного текста #212121*/
/* цвет вторичного текста #757575*/
/* белый #FFFFFF */
/* акцент #2196F3*/
/* вторичный цвет фона #2F303A*/

/* Шапка */

.logo {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
color: var(--logo-color);
}

.logo:hover  {
    color: var(--accent-color);
    }

    .web {
        color: var(--accent-color);
      }

    /* site-nav */

.site-nav .link {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: var(--title-text-colors);
}

.contact-nav .link {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
    color: var(--primery-color);
    }

.site-nav .link:hover,  
.site-nav .link:focus {
    color: var(--accent-color);
 }

 .site-nav .link.carrent {
    color: var(--accent-color);
 }

 /* Contact */

 .contact-nav {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
 }

.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-color);
}

.link {
    text-decoration: none
}

 /* Hero */

.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-text-color);
}


.hero {
    background-color: var(--fon-color);
     }
 
/* Button */

.button-link {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    cursor: pointer;
}
.button-link {
    background-color: var(--fon-knob);
    color: var(--hero-text-color);
     }
.button-link:hover,
.button-link:focus {
 background-color: var(--accent-color);
 color: var(--hero-text-color);
    }
/* Section priorities*/

.priorities-list {
    list-style: none;
}

.priorities-list {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-colors);
}

.priorities {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--primery-color);
}

.priorities-list .item {
    background-color: var(--title-color);
}

.priorities-list-title {
    list-style: none;
    text-transform: none;
    }  

/* Works */

.section-works {
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-colors);
}

.section-list {
    list-style: none;
    }   

/* Command */

.underline {
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;
color: var(--title-text-colors);
    }

.section {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
 color: var(--title-text-colors);
    }

.section-title {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
    color: var(--primery-color);
}    

.section-command {
    background-color: var(--fon-color-button);
}

.command-list {
    list-style: none;
    } 

/* Footer */

.logo-item {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
  color: var(--hero-text-color);
  }
  
    .web {
        color: var(--accent-color);
      }

      /* Adress */

    .line {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--hero-text-color);
      }

    .contact {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
     }

     .fon {
         background-color: var(--fon-color);
             }
    .contact {
        text-decoration: none;
            }

    .contact-list {
        list-style-type: none;
    }
    
     /* Portfolio */
 
/* Filter */

.filter {
    list-style: none;
}

.filter .current {
    color: var(--hero-text-color);
    background-color: var(--accent-color);
     }   

.filter-list {
    color: var(--title-text-colors);
    background-color: var(--fon-color-button);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
     }
     
 .filter .filter-button:hover,
.filter .filter-button :focus {
    background-color: var(--accent-color);
    color: var(--hero-text-color);
    }

.content-list {
    list-style: none;
    }   

/* Work */


.heading {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: var(--title-text-colors);
}

.coment {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: var(--primery-color);
}